Nacionalidad<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesss.css') }}" />
    <title>Editar proveedor</title>
</head>
<body>
    <h1>Editar proveedor</h1>
    <form action="{{ url_for('proveedor.edit', id=proveedor.idproveedor) }}" method="post">
        <label for="nombrepvr">Nombre:</label>
        <input type="text" id="nombrepvr" name="nombrepvr" value="{{ proveedor.nombrepvr }}" required>
        <label for="cedulapvr">Cedula:</label>
        <input type="text" id="cedulapvr" name="cedulapvr" value="{{ proveedor.cedulapvr }}" required>
        <label for="telefonopvr">Telefono:</label>
        <input type="text" id="telefonopvr" name="telefonopvr" value="{{ proveedor.telefonopvr }}" required>
        <button type="submit">Actualizar proveedor</button>
    </form>
</body>
</html>
