<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}" />
    <title>Producto</title>
</head>
<body>

    <h1>Lista de Productos</h1>
    <h1>Items Carrito {{ t }} </h1> 
    <a href="{{ url_for('carrito.listar') }}">Ir a carrito</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Categoria</th>
            <th>Proveedor</th>
            <th>Precio</th>
            <th>Número de Unidades</th>
            <th>Acciones</th>
        </tr>
        {% for producto in data %}
            <tr>
                <td>{{ producto.idproducto }}</td>
                <td>{{ producto.nombrepdo }}</td>
                <td>{{ producto.categoria.tipocga }}</td>
                <td>{{ producto.proveedor.nombrepvr }}</td>
                <td>{{ producto.preciopdo }}</td>
                <td>
                    <form action="{{ url_for('carrito.agregar_al_carrito', id = producto.idproducto, referer=request.url) }}" method="post" style="display:inline;">
                        <input type="number" name="cantidad" value="1" min="1">
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </td>
                <td>
                    <a href="{{ url_for('producto.edit', id=producto.idproducto) }}">Editar</a>
                    <a href="{{ url_for('producto.delete', id=producto.idproducto) }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('producto.add') }}">Agregar producto</a>
    <a href="{{ url_for('categoria.index') }}">Ir a categoria</a>
    <a href="{{ url_for('factura.index') }}">Ir a facturas</a>
    <a href="{{ url_for('clientes.index') }}">Ir a clientes</a>
    <a href="{{ url_for('proveedor.index') }}">Ir a proveedores</a>
    <a href="{{url_for('menu.vista')}}">Ir al inicio</a>
</body>
</html>
