<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>BakerSams</title>
		<link rel="icon" href="{{ url_for('static', filename='img/ico.ico') }}" type="image/x-icon">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<img src="{{ url_for('static', filename='img/headp.svg') }}" alt="Auricular Icono">
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">321-409-8166</span>
						</div>
					</div>

					<div class="container-logo">
						<img class="logo" src="{{ url_for('static', filename='img/Borcelle.jpg') }}" alt="Borcelle">
						<h1><a href="/">BakerSams</a></h1>
					</div>

					<div class="container-user">
						<img src="{{ url_for('static', filename='img/user.svg') }}" alt="Usuario Icono">
						<div class="divider"></div>
						<a href="/ListarCarrito">
							<img src="{{ url_for('static', filename='img/car.svg') }}" alt="Carrito Icono">
							<span class="cart-count">{{t}}</span>
						</a>
					</div>
					
				</div>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="{{ url_for('menu.vista') }}">Inicio</a></li>
						<li><a href="{{ url_for('menu.restaurante') }}">Restaurante</a></li>
						<li><a href="{{ url_for('menu.cafeteria') }}">Cafeteria</a></li>
						<li><a href="{{ url_for('menu.panaderia') }}">Panaderia</a></li>					
						<li><a href="{{ url_for('producto.index') }}">Ir a Productos</a><li/>
					</ul>
					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<img src="{{ url_for('static', filename='img/lupa.svg') }}" alt="Lupa Icono">
						</button>
					</form>
				</nav>
			</div>
		</header>

		<section class="banner">
			<div class="content-banner">
				<p>Café Delicioso</p>
				<h2>100% Natural <br />Café Fresco</h2>
				<a href="#">Comprar ahora</a>
			</div>
		</section>

		<main class="main-content">
			<section class="container container-features">
				<div class="card-feature">
					<img src="{{ url_for('static', filename='img/deli.svg') }}" alt="Carro Icono">
					<div class="feature-content">
						<span>Envíos a nivel municipal</span>
						<p>Con un costo de $3.000</p>
					</div>
				</div>
				<div class="card-feature">
					<img src="{{ url_for('static', filename='img/bille.svg') }}" alt="Billetera Icono">
					<div class="feature-content">
						<span>Metodos de pago</span>
						<p>Nequi, tarjeta, efectivo y transferencia</p>
					</div>
				</div>
				<div class="card-feature">
					<img src="{{ url_for('static', filename='img/audi.svg') }}" alt="Audifonos Icono">
					<div class="feature-content">
						<span>Servicio al cliente 24/7</span>
						<p>LLámenos al 321-409-8166</p>
					</div>
				</div>
			</section>

			<section class="container top-categories">
				<h1 class="heading-1">Mejores Categorías</h1>
				<div class="container-categories">
					<div class="card-category category-panes">
						<p>Panaderia</p>
						<span>Ver más</span>
					</div>
					<div class="card-category category-comida">
						<p>Restaurante</p>
						<span>Ver más</span>
					</div>
					<div class="card-category category-cafe">
						<p>Cafeteria</p>
						<span>Ver más</span>
					</div>
				</div>
			</section>

			<section class="container our-services">
				<h1 class="heading-1">Nuestros Servicios</h1>
				<p>
					En nuestra panadería encontrarás una variedad de productos frescos, incluyendo panes y pasteles. <br>
					Nuestro restaurante ofrece opciones de desayuno y almuerzo, perfectas para reuniones y eventos. <br>
					Y en nuestra cafetería, podrás disfrutar de una selección de bebidas y bocadillos en un ambiente acogedor.
				</p>
			</section>

			<section class="gallery">
				<img
					src="{{ url_for('static', filename='img/pan.jpg')}}"
					alt="Panes"
					class="gallery-img-1"
				/><img
					src="{{ url_for('static', filename='img/pasta.jpg')}}"
					alt="Pasta"
					class="gallery-img-2"
				/><img
					src="{{ url_for('static', filename='img/pasteles.jpg')}}"
					alt="Pasteles"
					class="gallery-img-3"
				/><img
					src="{{ url_for('static', filename='img/caffe.jpg')}}"
					alt="Cafe"
					class="gallery-img-4"
				/><img
					src="{{ url_for('static', filename='img/huevo.jpg')}}"
					alt="Huevos"
					class="gallery-img-5"
				/>
			</section>

			<section class="container blogs">
				<h1 class="heading-1">Conócenos</h1>

				<div class="container-blogs">
					<div class="card-blog">
						<div class="content-blog">
							<div class="horario">
								<h2>Horario de Atención</h2>
								<p><strong>Lunes:</strong> 6:00 AM - 9:00 PM</p>
								<p><strong>Martes:</strong> 6:00 AM - 9:00 PM</p>
								<p><strong>Miercoles:</strong> 6:00 AM - 9:00 PM</p>
								<p><strong>Jueves:</strong> 6:00 AM - 8:00 PM</p>
								<p><strong>Viernes:</strong> 6:00 AM - 8:00 PM</p>
								<p><strong>Sabado:</strong> 6:00 AM - 6:00 PM</p>
								<p><strong>Domingo:</strong> Cerrado</p> <br>
								<p>Nuestra panadería, cafetería y restaurante están disponibles en el mismo horario. ¡Te esperamos!</p>
							</div>
						</div>
					</div>
					<div class="card-blog">
						<div class="content-blog">
							<h2>BakerSpecials</h2>
							<p><strong>Dia:</strong> Martes</p>
							<p><strong>Descripcion:</strong>
								Todos los martes por cada compra recibe un sello.
								Al obtener 10 sellos recibe un descuento del 20% en su siguiente compra.
							</p>
							<p><strong>Nota:</strong>Incluye productos de todas las áreas.</p>
							<br>
							<p><strong>Dia:</strong> Sabado</p>
							<p><strong>Descripcion:</strong>
								Cada sabado se hace un 10% de descuento en todas las bebidas 
								de café y pasteles durante las horas bakers.
							</p>
							<p><strong>Duracion:</strong> De 9:00 AM a 10:00 AM.</p>
						</div>
					</div>
					<div class="card-blog">
						<div class="content-blog">
							<h2>Visítanos en:</h2>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.890004138263!2d-73.67045212561034!3d6.00983879397541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e41f06d1b94d193%3A0xd47ace7939d6dd68!2sSENA!5e0!3m2!1ses-419!2sco!4v1724619789827!5m2!1ses-419!2sco" 
							width="400" height="300" style="border:0;" 
							allowfullscreen="" loading="lazy" 
							referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</section>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>
								Dirección: Barrio Reino Unido,
								Cll 9N #8E-11
							</li>
							<li>Teléfono: 321-409-8166</li>
							<li>EmaiL: samuelavila051@gmail.com</li>
						</ul>
						<div class="social-icons">
							<a href="https://www.facebook.com/samuel.estradaavila?locale=es_LA" target="_blank">
								<span class="facebook">
									<img src="{{ url_for('static', filename='img/face.svg') }}" alt="Face Icono">
								</span>
							</a>
							<a href="https://www.instagram.com/samuel_avila05/">
								<span class="instagram">
									<img src="{{ url_for('static', filename='img/insta.svg') }}" alt="Instagram Icono">
								</span>
							</a>							
						</div>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="#">Información Delivery</a></li>
							<li><a href="#">Politicas de Privacidad</a></li>
							<li><a href="#">Términos y condiciones</a></li>
							<li><a href="#">Contactános</a></li>
						</ul>
					</div>

					<div class="my-account">
						<p class="title-footer">Mi cuenta</p>

						<ul>
							<li><a href="#">Mi cuenta</a></li>
							<li><a href="#">Historial de ordenes</a></li>
							<li><a href="#">Lista de deseos</a></li>
						</ul>
					</div>

					<div class="newsletter">
						<p class="title-footer">Acerca de nosotros</p>

						<div class="content">
							<p>
								En BakerSams, ofrecemos panes frescos, café de calidad y un menú delicioso.
							</p>
							<br>
							<p>
								Nos encanta crear un ambiente acogedor donde te sientas como en casa.
							</p>
							<br>
							<p>
								¡Te esperamos!
							</p>
						</div>
					</div>
				</div>

				<div class="copyright">
					<p>
						Desarrollado por Samuel Estrada &copy; 2024
					</p>
				</div>
			</div>
		</footer>
		</main>
	</body>
</html>