<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>BakerSams</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">321-409-8166</span>
						</div>
					</div>

					<div class="container-logo">
						<img class="logo" src="{{ url_for('static', filename='img/Borcelle.jpg') }}" alt="Borcelle">
						<h1><a href="/">BakerSams</a></h1>
					</div>

					<div class="container-user">
						<i class="fa fa-user"></i>
						<a href="/ListarCarrito">
							<i class="fa fa-basket-shopping"></i>
							<span class="cart-count">0</span>
						</a>
					</div>
					
				</div>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="{{ url_for('menu.vista') }}">Inicio</a></li>
						<li><a href="{{ url_for('menu.restaurante') }}">Restaurante</a></li>
						<li><a href="{{ url_for('menu.cafeteria') }}">Cafeteria</a></li>
						<li><a href="{{ url_for('menu.panaderia') }}">Panaderia</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>
		<main class="main-content">
			<section class="container specials">
				<h1 class="heading-1">Especiales</h1>

				<div class="container-products">
					<!-- Producto 1 -->
					<div class="card-product">
						<div class="container-img">
							<img src="{{ url_for('static', filename='img/cafe-irish.jpg') }}" alt="Coca" />
							<span class="discount">-13%</span>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Cafe Irish</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$4.60 <span>$5.30</span></p>
						</div>
					</div>
					<!-- Producto 2 -->
					<div class="card-product">
						<div class="container-img">
							<img
								src="{{ url_for('static', filename='img/cafe-ingles.jpg') }}"
								alt="Cafe incafe-ingles.jpg"
							/>
							<span class="discount">-22%</span>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Cafe Inglés</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$5.70 <span>$7.30</span></p>
						</div>
					</div>
					<!--  -->
					<div class="card-product">
						<div class="container-img">
							<img src="{{ url_for('static', filename='img/cafe-viena.jpg') }}" alt="Cafe Viena" />
							<span class="discount">-30%</span>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
							</div>
							<h3>Cafe Viena</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$3.85 <span>$5.50</span></p>
						</div>
					</div>
					<!--  -->
					<div class="card-product">
						<div class="container-img">
							<img src="{{ url_for('static', filename='img/cafe-liqueurs.jpg') }}" alt="Cafe Liqueurs" />
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Cafe Liqueurs</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$5.60</p>
						</div>
					</div>
				</div>
			</section>

			<section class="container top-products">
				<h1 class="heading-1">Mejores Productos</h1>

				<div class="container-options">
					<span class="active">Destacados</span>
				</div>

				<div class="container-products">
					<!-- Producto 1 -->
					{% for producto in data %}
					<div class="card-product">
						<div class="container-img">
							{% if producto.imagenpdo %}
                    			{% set direccion = 'img/' + producto.imagenpdo %}
                    				<img src="{{ url_for('static', filename=direccion) }}" alt="{{ producto.nombrepdo }}">
                			{% endif %}
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>{{ producto.nombrepdo }}</h3>
							<div class="can">
								<form action="{{ url_for('carrito.agregar_al_carrito', id=producto.idproducto) }}" method="post" style="display:inline;">
									<label for="cantidad-{{ producto.idproducto }}" style="display:block;">Cantidad:</label>
									<input type="number" id="cantidad-{{ producto.idproducto }}" name="cantidad" value="1" min="1" style="width: 40px;">
									<button type="submit" class="add-cart">
										<img src="{{ url_for('static', filename='img/car.svg') }}" alt="Carrito icono" />
									</button>
								</form>
								<p class="price">{{ producto.preciopdo }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</section>
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>
								Dirección: Barrio Reino Unido,
								Cll 9N #8E-11
							</li>
							<li>Teléfono: 321-409-8166</li>
							<li>EmaiL: samuelavila051@gmail.com</li>
						</ul>
						<div class="social-icons">
							<a href="https://www.facebook.com/samuel.estradaavila?locale=es_LA" target="_blank">
								<span class="facebook">
									<i class="fa-brands fa-facebook-f"></i>
								</span>
							</a>
							<a href="https://www.instagram.com/samuel_avila05/">
								<span class="instagram">
									<i class="fa-brands fa-instagram"></i>
								</span>
							</a>							
						</div>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="#">Información Delivery</a></li>
							<li><a href="#">Politicas de Privacidad</a></li>
							<li><a href="#">Términos y condiciones</a></li>
							<li><a href="#">Contactános</a></li>
						</ul>
					</div>

					<div class="my-account">
						<p class="title-footer">Mi cuenta</p>

						<ul>
							<li><a href="#">Mi cuenta</a></li>
							<li><a href="#">Historial de ordenes</a></li>
							<li><a href="#">Lista de deseos</a></li>
						</ul>
					</div>

					<div class="newsletter">
						<p class="title-footer">Acerca de nosotros</p>

						<div class="content">
							<p>
								En BakerSams, ofrecemos panes frescos, café de calidad y un menú delicioso.
							</p>
							<br>
							<p>
								Nos encanta crear un ambiente acogedor donde te sientas como en casa.
							</p>
							<br>
							<p>
								¡Te esperamos!
							</p>
						</div>
					</div>
				</div>

				<div class="copyright">
					<p>
						Desarrollado por Samuel Estrada &copy; 2024
					</p>
				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>