<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PEDIDO</title>
</head>
<body>
    <h1>Lista de pedidos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Precio Total</th>
            <th>Acciones</th>
        </tr>
        {% for order in data %}
                <td>{{ order.id }}</td>
                <td>{{ order.fecha }}</td>
                <td>{{ order.preciototal }}</td>
                <td>
                    <a href="{{url_for('order.edit', id=order.id)}}">Editar</a>
                    <a href="{{url_for('order.delete', id=order.id)}}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{url_for('order.add')}}">Agregar pedido</a>
    <a href="{{url_for('product.index')}}">Ir a productos</a>
    <a href="{{url_for('bill.index')}}">Ir a factura </a>
</body>
</html>