<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}" />
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
        {% for cliente in data %}
            <tr>
                <td>{{ cliente.idcliente }}</td>
                <td>{{ cliente.nombrecte }}</td>
                <td>{{ cliente.direccioncte }}</td>
                <td>{{ cliente.telefonocte }}</td>
                <td>
                    <a href="{{ url_for('clientes.delete', id=cliente.idcliente) }}">Eliminar</a>                
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('clientes.add') }}">Agregar cliente</a>
    <a href="{{ url_for('producto.index') }}">Ir a Productos</a>
</body>
</html>