<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar factura</title>
</head>
<body>
    <h1>Agregar factura</h1>
    <form action="{{ url_for('factura.add') }}" method="post">
        <label for="fechafta">Fecha:</label>
        <input type="text" id="fechafta" name="fechafta" required>
        <label for="idcliente">Cliente:</label>
        <select id="idcliente" name="idcliente">
            {% for cliente in data %}
                <option value="{{ idcliente.id }}">{{ idcliente.idcliente }}</option>
            {% endfor %}
        </select>
        <button type="submit">Agregar factura</button>
    </form>
</body>
</html>