<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleadd.css') }}">
    <title>Agregar Categoria</title>
</head>
<body>
    <h1>Agregar Categoria</h1>
    <form action="{{ url_for('categoria.add') }}" method="post">
        <label for="tipocga">Categoria:</label>
        <input type="text" id="tipocga" name="tipocga" required>
        <button type="submit">Agregar Categoria</button>
    </form>
</body>
</html>