<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}" />
    <title>Lista de Categorías</title>
</head>
<body>

    <h1>Lista de Categorías</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in dataC %}
                <tr>
                    <td>{{ categoria.idcategoria }}</td>
                    <td>{{ categoria.tipocga }}</td>
                    <td>
                        <a href="{{ url_for('categoria.edit', id=categoria.idcategoria) }}">Editar</a>
                        <a href="{{ url_for('categoria.delete', id=categoria.idcategoria) }}" onclick="return confirm('¿Estás seguro de que quieres eliminar esta categoría?');">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('categoria.add') }}">Agregar Categoría</a>
    <a href="{{ url_for('producto.index') }}">Ir a Productos</a>
</body>
</html>