<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>AGREGAR FACTURA</title>
</head>
<body>
    <h1>Agregar factura</h1>
    <form action="{{url_for('bill.add')}}" method="post">
        <label for="product">Producto:</label>
        <select id="product_id" name="product_id">
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.nombrepro }}</option>
            {% endfor %}
        </select>
        <label for="order">Pedido:</label>
        <select id="order_id" name="order_id">
            {% for order in orders %}
                <option value="{{ order.id }}">{{ order.id }}</option>
            {% endfor %}
        </select>
        <label for="nombreprodu">Nombre del producto:</label>
        <input type="text" id="nombreprodu" name="nombreprodu" required>
        <label for="cantidad">Cantidad:</label>
        <input type="text" id="cantidad" name="cantidad" required>
        <label for="preciouni">Precio Unitario:</label>
        <input type="text" id="preciouni" name="preciouni" required>
        <label for="subtotal">Subtotal:</label>
        <input type="text" id="subtotal" name="subtotal" required>
        <button type="submit">Agregar factura</button>
    </form>
</body>
</html>